body {
    font-size: 0.3733rem;
}

.fixed.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.tab-content {
    margin-top: 2.992rem;
}

/*取消 margin 合并*/
.tab-content .page-1::before {
    content: '';
    display: table;
}

section.topbar {
    background-color: #d43c33;
    display: flex;
    justify-content: space-between;
    font-size: 0.34rem;
    padding: 20px 10px;
}

section.topbar .logo > svg {
    width: 3.43rem;
    height: 0.60rem;
    vertical-align: top;
}

section.topbar a {
    font-size: 0.39rem;
    display: inline-block;
    background-color: #fff;
    color: #d43c33;
    text-align: center;
    border-radius: 37.5% / 100%;
    line-height: 0.87rem;
    padding: 0 0.39rem;
    vertical-align: middle;
}

section.globalTabs {
    font-size: 0.4rem;
    background-color: #ffffff;
}

section.globalTabs .tabs {
    display: flex;
    border-bottom: 1px solid #cccccc;
}

section.globalTabs .tabs li {
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.playlists {
    margin: 0.5333rem 0 0.64rem;
}

section > h2 {
    position: relative;
    font-size: 0.4533rem;
    line-height: 0.5333rem;
    padding-left: 0.24rem;
    margin-bottom: 0.16rem;
}

section > h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #d43c33;
}

section.playlists > ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.playlists > ol > li {
    margin: 0.2133rem 0;
    position: relative;
    width: 32.8%;
}

section.playlists > ol > li .cover-wrapper {
    width: 100%;
    padding-top: 100%;
}

section.playlists > ol > li img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

section.playlists > ol > li p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 0.16rem;
}

section.songs .list li span, section.songs .list li p {
    color: #888;
}

section.songs .list li h3 {
    width: 8.6187rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.songs .list li p {
    font-size: 0.32rem;
    width: 8.6187rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section.songs .list li {
    line-height: 0.56rem;
    padding: 0.1707rem 0;
    position: relative;
    margin-left: 0.24rem;
    border-bottom: 1px solid #f0f0f1;
}

section.songs .list li > a {
    position: absolute;
    right: 0.2667rem;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

section.songs .list li .icon-play {
    display: inline-block;
    width: 0.5867rem;
    height: 0.5867rem;
    vertical-align: middle;
}

section.songs ol.list li i {
    background: transparent url("https://s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880=") no-repeat;
    width: 0.32rem;
    height: 0.213rem;
    display: inline-block;
    vertical-align: middle;
    background-size: 4.4267rem 2.56rem;
}

section.art {
    background: transparent url("https://s3.music.126.net/mobile-new/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922=") no-repeat;
    background-size: cover;
    padding-top: 0.1067rem;
    padding-bottom: 0.4533rem;
}

section.art .logo-wrapper {
    text-align: center;
    padding-top: 1.6907rem;
}

section.art .logosvg {
    width: 6.133rem;
    height: 1.173rem;
    vertical-align: top;
}

section.art .link {
    font-size: 0.4267rem;
    line-height: 1.013rem;
    text-align: center;
    color: #d33a31;
    margin: 0.4rem 0 0.1333rem;
}

section.art .link a {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d33a31;
    padding: 0 1.1733rem;
    border-radius: 0.507rem;
}

section.art .copyright {
    color: #888;
    font-size: 0.32rem;
    text-align: center;
}

.tabs li.active {
    color: #d43c33;
}

.tabs li.active > .text {
    position: relative;
    line-height: 0.5333rem;
    padding: 0.2667rem 0.1333rem;
}

.tabs li.active > .text::after {
    content: '';
    background-color: #d43c33;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.tab-content > li {
    display: none;
}

.tab-content > li.active {
    display: block;
}